APP_PORT = 8080
APP_ENV = development

JWT_EXPIRES_IN = 1h
JWT_SECRET = 123ertgbni876rdchgdtrsrtf67fcghhgnnbjguyf

API_PATH = api

DB_HOST = localhost
DB_PORT = 3306
DB_NAME = dans_db
DB_USERNAME = root
DB_PASSWORD =
DB_CONN_LIMIT = 5
DB_DIALECT = mysql

DANSAPI_HOST=dev6.dansmultipro.com
DANSAPI_IS_HTTPS=false